@page
@model IndexModel
@{
    ViewData["Title"] = "Viagens";
}

@section Menus {
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Estudantes/Index">Estudantes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Motoristas/Index">Motoristas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Responsaveis/Index">Responsáveis</a>
    </li>
    <li class="nav-item"> 
        <a class="nav-link" asp-area="Gerente" asp-page="/Veiculos/Index">Veículos</a>
    </li>
    <li class="nav-item"> 
        <a class="nav-link" asp-area="Gerente" asp-page="/Viagens/Index">Viagens</a>
    </li>
}
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-area="Gerente" asp-page="/Viagens/Create">Criar nova Viagem</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Viagens[0].NumeroRenavam)</th>
            <th>@Html.DisplayNameFor(model => model.Viagens[0].Motorista.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Viagens[0].Saida)</th>
            <th>@Html.DisplayNameFor(model => model.Viagens[0].Chegada)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Viagens) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NumeroRenavam)</td>
                <td>@Html.DisplayFor(modelItem => item.Motorista.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Saida)</td>
                <td>@Html.DisplayFor(modelItem => item.Chegada)</td>
                <td><a class="btn btn-primary" asp-area="Gerente" asp-page="/Viagens/Edit" asp-route-id="@item.Id">Editar</a></td>
                <td>
                    <form method="post" asp-area="Gerente" asp-page="/Viagens/Delete">
                        <input type="hidden" name="id" value="@item.Id">
                        <button type="submit" class="btn btn-primary">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>