@page
@model IndexModel
@{
    ViewData["Title"] = "Estudantes";
}

@section Menus {
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Estudantes/Index">Estudantes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Motoristas/Index">Motoristas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Responsaveis/Index">Responsáveis</a>
    </li>
    <li class="nav-item"> 
        <a class="nav-link" asp-area="Gerente" asp-page="/Veiculos/Index">Veículos</a>
    </li>
}
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-area="Gerente" asp-page="/Estudantes/Create">Criar novo Estudante</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Estudantes[0].Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Estudantes[0].Email)</th>
            <th>@Html.DisplayNameFor(model => model.Estudantes[0].Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.Estudantes[0].DataNascimento)</th>
            <th>@Html.DisplayNameFor(model => model.Estudantes[0].Telefone)</th>
            <th>@Html.DisplayNameFor(model => model.Estudantes[0].Endereco)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Estudantes) {
            var enderecoFormatado = item.Endereco?.ToString() ?? string.Empty;
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                <td>@enderecoFormatado</td>
                <td>
                    <form method="post" asp-area="Gerente" asp-page="/Estudantes/Delete">
                        <input type="hidden" name="cpf" value="@item.Cpf">
                        <button type="submit" class="btn btn-primary">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
