@page
@model IndexModel
@{
    ViewData["Title"] = "Responsáveis";
}

@section Menus {
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Estudantes/Index">Estudantes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Motoristas/Index">Motoristas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Gerente" asp-page="/Responsaveis/Index">Responsáveis</a>
    </li>
    <li class="nav-item"> 
        <a class="nav-link" asp-area="Gerente" asp-page="/Veiculos/Index">Veículos</a>
    </li>
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Responsaveis[0].Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Responsaveis[0].Email)</th>
            <th>@Html.DisplayNameFor(model => model.Responsaveis[0].Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.Responsaveis[0].DataNascimento)</th>
            <th>@Html.DisplayNameFor(model => model.Responsaveis[0].Telefone)</th>
            <th>@Html.DisplayNameFor(model => model.Responsaveis[0].Endereco)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Responsaveis) {
            var enderecoFormatado = item.Endereco?.ToString() ?? string.Empty;
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                <td>@enderecoFormatado</td>
            </tr>
        }
    </tbody>
</table>
